.activities {
  display: none;
  @include desk {
    display: flex;
  }
}

.activities__list {
  display: flex;
  margin-left: -30px;
}

.activities__item {
  width: 370px;
  position: relative;
  align-items: center;
  @include desk {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

.activities__label {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  @include font(700, 14, 16, 0.03);
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;

  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}
