.customers__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -30px;
  margin-bottom: -30px;

  fill: var(--socials-icons-color);
}

.customers__item {
  width: 100%;
  align-items: center;
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  @include tab {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
  @include desk {
    width: calc(100% / 6 - 30px);
  }
}
.customers__link {
  @extend %aline-list;
  box-sizing: border-box;
  width: 100%;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--socials-icons-color);
  color: var(--socials-icons-color);

  transition: color var(--transition), border var(--transition);

  &:hover,
  &:focus {
    color: var(--akcent-text-color);
    border-color: var(--akcent-text-color);
  }
}

.customers__icon {
  fill: currentColor;
}
