.filters-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  @include tab {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.filters-list__item {
  display: flex;
  margin-right: 8px;
  margin-bottom: 15px;
}
