.page-header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 80px;
  background-color: var(--background-color-body);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  z-index: 10;
}
.header {
  display: flex;
  align-items: center;
}

/*-------------- NAV --------------*/
.nav {
  display: flex;
  margin-right: auto;

  .nav-list {
    // display: flex;
    display: none;
    margin-left: 94px;
  }

  .nav__item + .nav__item {
    margin-left: 50px;
  }
  .nav__link {
    // display: flex;
    display: none;
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(500, 14, 16, 0.02);
    color: var(--title-text-color);

    transition: color var(--transition);
  }
  .nav__link--current {
    color: var(--akcent-text-color);
    position: relative;
  }
  .nav__link--current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: var(--akcent-text-color);
    left: 0;
    bottom: 0;
    border-radius: 2px;

    transition: background-color var(--transition);
  }
}

/*-------------- Contacts --------------*/
.contacts {
  @extend %aline-list;
  margin-left: auto;

  .contacts__item {
    @extend %aline-list;

    transition: color var(--transition);
  }
  .contacts__item + .contacts__item {
    margin-left: 30px;
  }

  .contacts__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  .contacts__link {
    // display: flex;
    display: none;
    align-items: center;
    @include font(500, 14, 16, 0.02);
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: var(--primary-text-color);
    &:hover,
    &:focus {
      color: var(--akcent-text-color);
    }
  }
}
.menu-open-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
}

.mob-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color-body);
  top: 0;
  left: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  .container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.menu-close-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  display: block;
  right: 15px;
  top: -38px;
  position: absolute;
}
.mob-menu-item,
.mob-contacts-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-menu-link {
  @include font(500, 40, 47, 0.02);
  text-align: center;
  color: var(--title-text-color);
  text-decoration: none;
}
.mob-contacts-list {
  margin-bottom: 64px;
}
.mob-contacts-link {
  @include font(500, 24, 28, 0.02);
  color: var(--primary-text-color);
  text-decoration: none;
}
.mob-social-list {
  display: flex;
  flex-wrap: wrap;
}
.mob-social-item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    margin-right: 10px;
  }
}
.mob-social-link {
  @include font(500, 18, 22, 0.02);
  color: var(--akcent-text-color);
  text-decoration: none;
}
