.section__title {
  text-align: center;
  @include font(700, 28, 33, 0.03);
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-text-color);

  @include desk {
    @include font(700, 36, 42, 0.03);
    margin-bottom: 50px;
  }
}
