body {
  background-color: var(--background-color-body);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  padding-top: 80px;
}
.button {
  display: inline-block;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
