@mixin font($fw, $fz, $lh, $ls) {
  font-weight: $fw;
  font-size: $fz;
  line-height: calc($lh / $fz);
  letter-spacing: $ls;
}

@mixin tel {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desc {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin media($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}
